header.site-header(role='banner')
    .container
        h1.site-header-logo
            a(href='http://twiggle.com/', title='Twiggle')
        h2.section-header-title.nav-title(style='display: inline ;font-size: 250%;font-weight: normal;font-family: Allerta Stencil')
            // Sh<img src="public/img/obtur.png" height="40">tG💎t</h2>
            | ShotGot
        nav.primary-nav(role='navigation')
            h1.visually-hidden Primary Navigation
            ul
                li
                    a(href='http://twiggle.com/product', title='Product') Product
                li
                    a(href='http://twiggle.com/about', title='About') About
                li
                    a(href='http://twiggle.com/careers', title='Careers') Careers
                li
                    a(href='http://twiggle.com/press', title='Press') Press
                li
                    a.button.button-small(href='http://twiggle.com/#request', title='Request a Demo') Request a Demo
        button.hamburger.mobile-nav-trigger
            span Toggle Menu
            span
            span
            span