nav.mobile-nav(role='navigation')
        .container
          h1.visually-hidden Mobile Navigation
          ul
            li
              a(href='http://twiggle.com/product', title='Product') Product
            li
              a(href='http://twiggle.com/about', title='About') About
            li
              a(href='http://twiggle.com/careers', title='Careers') Careers
            li
              a(href='http://twiggle.com/press', title='Press') Press
     