<!-- Team -->
<a name="team"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <img class="img-responsive" src="../../public/img/team.png" width="64" height="64" alt="" style="float: left">
            <h2 class="section-heading">Nuestro equipo<br> <a href="https://www.autoqe.com/careers.html">¿Te unes?</a>
            </h2>
            <div class="col-lg-5 col-sm-6 text-center">
                <img class="img-responsive" src="../../public/img/gSierra.jpg" width="120" height="120" alt="Guillermo Sierra"
                     style="display:inline; border-radius: 50%;text-align: center">
                <h3 class="section-heading"><a href="https://www.guillesierra.com/">Guillermo Sierra Aiello</a></h3>
                <h4 class="section-heading">Founder, CTO and Sales Manager</h4>
                <p class="lead">
                    Founder of <a href="https://www.shotgot.com/">ShotGot</a>
                    <img height="32" width="32" src="../../public/img/shotgot_small.png">.
                    <br>Java Dev at <a href="http://www.amadeus.com/">Amadeus</a> Nice, France.
                    <br>Android Dev at <a href="http://www.amadeus.com/">SEAT</a> Barcelona, Spain.
                    <br>Telecommunications Engineer from <a href="http://www.upc.edu/?set_language=en">UPC</a>.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <img class="img-responsive" src="../../public/img/Dano.jpg" width="120" height="120" alt="Dano Nuñez"
                     style="display:inline;border-radius: 50%">

                <h3 class="section-heading">Danilo Nuñez Da Silveira</h3>
                <h4 class="section-heading">Product Manager</h4>
                <p class="lead">
                    Founder of <a href="http://worldboosting.com/">WorldBoosting</a>
                    <img height="32" width="32" src="../../public/img/worldboosting.png">
                    <br>Economics degree at UBA.</p>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>

<!-- More details -->
<a name="expansion"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-8">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive" src="../../public/img/job.png" width="64" height="64" alt="" style="float: left">
                <h2 class="section-heading">Te sientes cómodo con las siguientes tecnologías y herramientas?</h2>
                <p class="lead">
                    Si crees que te gustaría formar parte del proyecto, contáctanos. Posiblidad de trabajo
                    remoto.</p>
            </div>
        </div>

        <div class="row">
            <a frameborder="0" data-theme="dark" data-stack-embed="true" data-layers="1,2,3,4"
               href="https://embed.stackshare.io/stacks/embed/76589f4f56a2a70b2d519f1af61965"/>
            </a>
            <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
        </div>
    </div>
</div>
