<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Contáctanos:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=contact@autoqe.com&cc=gsierra@guillesierra.com&su=Contacto Autoqe&body=Buenas tardes, me gustaría recibir más información acerca de..."
                           class="btn btn-default btn-lg"><i class="fa fa-mail-forward fa-send"></i> <span
                                class="network-name">MAIL</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/autoqe/" class="btn btn-default btn-lg"><i
                                class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/autoqe" class="btn btn-default btn-lg"><i
                                class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
