<!-- SubTitle-->
<div class="row" id="subtitle">
    <h4 style="text-align: center">
        Comparte
        <button href="/list-trip" class="btn btn-default btn-lg">
            <img src="img/carpool.png" height="32" width="32"/>
            trayectos</button>.
        Alquila
        <a href="/list-car" class="btn btn-default btn-lg" >
        <img src="img/car-key.png" height="32" width="32"/>
            autos</a>
        y <a href="/list-parking" class="btn btn-default btn-lg">
        <img src="img/garage.png" height="32" width="32"/>
        cocheras</a>
        alrededor tuyo.
    </h4>
</div>

<!-- Find Scope -->
<% include ../pages/find-home.ejs %>

<hr>

<!-- About -->
<% include services.ejs %>

<!-- Intro-Bottom -->
<% include intro-bottom.ejs %>

<!-- Expansion -->
<a name="expansion"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive" src="img/earth.png" width="64" height="64" alt="" style="float: left">
                <h2 class="section-heading">Próxima expansión por Latinoamerica</h2>
                <p class="lead">
                    Cuánto falta para que llegue a tu ciudad?
                    Suscríbete y sé el primero en enterarte!</p>
                <div style="text-align: center;margin-bottom: -2vh;vertical-align: bottom">
                    <h3>
                        <!--style="-webkit-text-stroke: 1px #126456">-->
                        Pronto disponible para celular:
                    </h3>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""
                                                            height="60px"></a>
                        <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt="" height="60px"></a>
                    </div>
                </div>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/latam.png" alt="">
            </div>
        </div>
    </div>
</div>

<!--Team -->
<%- include team.ejs %>

<!-- Press -->
<!--TODO! reformat in grayScale-->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <img class="img-responsive" src="img/press.png" width="64" height="64" alt="" style="float: left">
            <h2 class="section-heading">Hablan de nosotros:</h2>
            <!--<div id="imageWrapper" style="float: left">-->
            <div class="col-lg-2 col-lg-offset-2 col-sm-4" style="margin-left: 2%">
                <img class="img-responsive" src="img/mercadoPago.jpg" alt="MercadoPago" width="200" height="100">
            </div>
            <div class="col-lg-2 col-lg-offset-2 col-sm-4" style="margin-left: 2%">
                <img class="img-responsive" src="img/logo-sura.png" alt="Sura Seguros" width="200" height="100">
            </div>
            <div class="col-lg-2 col-lg-offset-2 col-sm-4" style="margin-left: 2%">
                <img class="img-responsive" src="img/colon.png" alt="Colon Seguros" width="200" height="100">
            </div>
            <div class="col-lg-2 col-lg-offset-2 col-sm-4" style="margin-left: 2%">
                <img class="img-responsive" src="img/BA2016.png" alt="Buenos Aires" width="200" height="100">
            </div>
        </div>
    </div>
</div>

<!-- Invest -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <img class="img-responsive" src="img/investment.png" width="64" height="64" alt="" style="float: left">
            <h2 class="section-heading">Invierta en nosotros</h2>
            <p class="lead">
                Aún estás a tiempo de formar parte de este nuevo paradigma de la economía colaborativa para Latinoamérica!
                <br><b>Contáctanos</b></p>
        </div>
    </div>
</div>

<!-- Find Scope -->
<% include ../pages/contact.ejs %>