<!-- Intro -->
<a name="intro"></a>
<div class="content-section-b">
    <div class="container ">
        <!-- Attraction -->
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive" src="img/get-money.png" width="64" height="64" alt="" style="float: left">
                <h2 class="section-heading">Tengo vehículo<br>Aumento mis ingresos!</h2>
                <p class="lead">
                    Publica tu vehiculo y gana dinero desde la comodidad de tu hogar.
                    <br>Ahorra dinero en combustible publicando tus trayectos y viajando con otros usuarios
                    Comparte tu auto y colabora con el medioambiente</p>
            </div>
            <div class="col-lg-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive" src="img/piggy-bank.png" width="64" height="64" alt="" style="float: left">

                <h2 class="section-heading">Busco transporte<br>Ahorra dinero!</h2>
                <p class="lead">
                    Obtén un vehiculo privado por hora/dia para ir a donde necesites, sin papeleos ni excesivos precios
                    Comparte el vehiculo con mas personas y ahorra dinero!
                    Muevete por la ciudad de la forma más ecológica.</p>
            </div>
        </div>
    </div>
</div>