<!-- Header -->
<a name="about"></a>
<div class="intro-header" style="height: 25vh">
    <div class="container" id="mainCont">
        <div class="intro-message">
            <h1>Publicar Auto</h1>
            <!--<h3>Echa un vistazo a nuestros retos:</h3>-->
        </div>
    </div>
</div>
<!-- /.intro-header -->

<!-- Show the add post form -->
<section class="mdl-grid content" id="add-post" style="">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">

        <!-- Card containing the inputs to add a new messages -->
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet
                  mdl-cell--6-col-desktop">
            <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
                <h2 class="mdl-card__title-text">New Post</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <form id="message-form" action="#">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="new-post-title">
                        <label class="mdl-textfield__label" for="new-post-title">Post title...</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <textarea class="mdl-textfield__input" rows="3" id="new-post-message"></textarea>
                        <label class="mdl-textfield__label" for="new-post-message">Post message...</label>
                    </div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Add post
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Show a list of recent posts -->
<section class="mdl-grid content" id="recent-posts-list" style="">
    <div class="posts-container mdl-cell mdl-cell--12-col mdl-grid">
    </div>
</section>

<!-- Show the list of user's posts -->
<section class="mdl-grid content" id="user-posts-list" style="">
    <div class="posts-container mdl-cell mdl-cell--12-col mdl-grid">
    </div>
</section>

<!-- Show the list of top user's posts -->
<section class="mdl-grid content" id="top-user-posts-list" style="">
    <div class="posts-container mdl-cell mdl-cell--12-col mdl-grid">
    </div>
</section>

<!-- List a car -->
<a name="listCar"></a>
<div class="content-section-a">

    <div class="container formNice">
        <div class="row">
            <hr class="form-group">
            <div class="clearfix"></div>
            <img class="img-responsive" src="../../public/img/electric-car.png" width="64" height="64" alt="" style="float: left">
            <h2 class="section-heading">Calcula cuanto puedes llegar a ahorrar:</h2>
            <div class="col-lg-12 ">

                <div class="jumbotron">
                    <form onsubmit="leaveAnnounce('car', this.name.value, this.brand.value, this.model.value);
                this.reset(); return false;" class="form-inline text-center container">
                        <select id="brands"></select>
                        <datalist id="brand-datalist"></datalist>

                        <select id="models"></select>
                        <datalist id="model-datalist"></datalist>

                        <input class="form-group-lg" type="text" list="brand-datalist" name="brand" placeholder="Marca"
                               onchange="updateModels()">
                        <br>
                        <input type="text" id="ajax" list="model-datalist" placeholder="e.g. datalist">
                    </form>
                </div>

                <div class="col-md-9 col-xs-12 no-outer-gutter-xs bottom20">
                    <div class="panel_content js_car_wizard_step_content">
                        <div class="row" data-wizard-helper-offset-reference="car_model">
                            <div class="col-md-3 col-xs-12">
                                <div class="h2 top30 top0_sm">Vehículo</div>
                            </div>
                            <div class="col-md-3 col-xs-12 js_brand_select">
                                <div class="field">
                                    <label for="car_brand_id">Marca</label><br>
                                    <select data-url-for-models="/car_models/models" name="car[brand_id]"
                                            id="car_brand_id">
                                        <option value="">Marca</option>
                                        <option value="1">Abarth</option>
                                        <option value="2">Alfa-Romeo</option>
                                        <option value="71">Alpina</option>
                                        <option value="3">Alpine-Renault</option>
                                        <option value="72">ARO</option>
                                        <option value="73">Artega</option>
                                        <option value="4">Aston-Martin</option>
                                        <option value="5">Audi</option>
                                        <option value="6">Austin</option>
                                        <option value="96">Authi</option>
                                        <option value="7">Bentley</option>
                                        <option value="8">BMW</option>
                                        <option value="88">Bolloré</option>
                                        <option value="9">Buick</option>
                                        <option value="10">Cadillac</option>
                                        <option value="70">Carbodies</option>
                                        <option value="11">Caterham</option>
                                        <option value="12">Chevrolet</option>
                                        <option value="14">Chrysler</option>
                                        <option value="15">Citroen</option>
                                        <option value="74">Corvette</option>
                                        <option value="16">Dacia</option>
                                        <option value="17">Daewoo</option>
                                        <option value="18">Daihatsu</option>
                                        <option value="75">Dangel</option>
                                        <option value="19">Dodge</option>
                                        <option value="20">Ferrari</option>
                                        <option value="21">Fiat</option>
                                        <option value="76">Fisker</option>
                                        <option value="22">Ford</option>
                                        <option value="24">Honda</option>
                                        <option value="25">Hummer</option>
                                        <option value="26">Hyundai</option>
                                        <option value="27">Infiniti</option>
                                        <option value="28">Isuzu</option>
                                        <option value="77">Iveco</option>
                                        <option value="29">Jaguar</option>
                                        <option value="30">Jeep</option>
                                        <option value="31">Kia</option>
                                        <option value="32">Lada</option>
                                        <option value="33">Lamborghini</option>
                                        <option value="34">Lancia</option>
                                        <option value="35">Land-Rover</option>
                                        <option value="78">LDV</option>
                                        <option value="36">Lexus</option>
                                        <option value="37">Lotus</option>
                                        <option value="79">Mahindra</option>
                                        <option value="38">Maserati</option>
                                        <option value="80">Mastretta</option>
                                        <option value="81">Maybach</option>
                                        <option value="39">Mazda</option>
                                        <option value="82">McLaren</option>
                                        <option value="40">Mega</option>
                                        <option value="41">Mercedes</option>
                                        <option value="42">Mg</option>
                                        <option value="83">Mia-Electric</option>
                                        <option value="43">Mini</option>
                                        <option value="44">Mitsubishi</option>
                                        <option value="45">Morgan</option>
                                        <option value="46">Nissan</option>
                                        <option value="97">Oldsmobile</option>
                                        <option value="47">Opel</option>
                                        <option value="92">Panhard</option>
                                        <option value="48">Peugeot</option>
                                        <option value="49">Pgo</option>
                                        <option value="89">Piaggio</option>
                                        <option value="50">Pontiac</option>
                                        <option value="51">Porsche</option>
                                        <option value="52">Renault</option>
                                        <option value="84">Renault-Trucks</option>
                                        <option value="53">Rolls-Royce</option>
                                        <option value="54">Rover</option>
                                        <option value="55">Saab</option>
                                        <option value="56">Santana</option>
                                        <option value="69">SCVE</option>
                                        <option value="57">Seat</option>
                                        <option value="85">Shuanghuan</option>
                                        <option value="91">Simca</option>
                                        <option value="58">Skoda</option>
                                        <option value="59">Smart</option>
                                        <option value="60">Ssangyong</option>
                                        <option value="61">Subaru</option>
                                        <option value="62">Suzuki</option>
                                        <option value="63">Talbot</option>
                                        <option value="95">Tata Motors</option>
                                        <option value="90">Tesla</option>
                                        <option value="87">Theilol</option>
                                        <option value="94">Think Global</option>
                                        <option value="64">Toyota</option>
                                        <option value="93">Trabant</option>
                                        <option value="65">Triumph</option>
                                        <option value="98">Vauxhall</option>
                                        <option value="66">Venturi</option>
                                        <option value="67">Volkswagen</option>
                                        <option value="68">Volvo</option>
                                        <option data-fallback="true" value="0">Otro</option>
                                    </select></div>
                            </div>
                            <div class="col-md-3 col-xs-12 js_model_select">
                                <div class="field">
                                    <label for="car_model_id">Modelo</label>
                                    <div class="field js_model_wrapper"><select name="car[model_id]" id="car_model_id">
                                        <option value="">Modelo</option>
                                        <option value="11" data-populated="true">145</option>
                                        <option value="1291" data-populated="true">146</option>
                                        <option value="12" data-populated="true">147</option>
                                        <option value="13" data-populated="true">155</option>
                                        <option value="14" data-populated="true">156</option>
                                        <option value="802" data-populated="true">156 CrossWagon</option>
                                        <option value="803" data-populated="true">156 SW</option>
                                        <option value="15" data-populated="true">159</option>
                                        <option value="804" data-populated="true">159 SW</option>
                                        <option value="16" data-populated="true">164</option>
                                        <option value="17" data-populated="true">166</option>
                                        <option value="805" data-populated="true">4C</option>
                                        <option value="18" data-populated="true">8C</option>
                                        <option value="806" data-populated="true">8C Spider</option>
                                        <option value="3" data-populated="true">Alfa 6</option>
                                        <option value="4" data-populated="true">Alfetta</option>
                                        <option value="5" data-populated="true">Brera</option>
                                        <option value="756" data-populated="true">Crosswagon</option>
                                        <option value="6" data-populated="true">Giulietta</option>
                                        <option value="7" data-populated="true">Gt</option>
                                        <option value="8" data-populated="true">Gtv</option>
                                        <option value="9" data-populated="true">Mito</option>
                                        <option value="10" data-populated="true">Spider</option>
                                        <option data-fallback="true" value="0">Otro</option>
                                    </select></div>

                                </div>
                            </div>
                            <div class="col-md-3 col-xs-12">
                                <div class="field"><label for="car_model_details">Detalles (opcional)</label><input
                                        maxlength="40" class="js_car_model_details" data-wizard-helper-focus="car_model"
                                        placeholder="GTI Turbo" size="40" type="text" name="car[model_details]"
                                        id="car_model_details"></div>
                            </div>
                        </div>

                    </div>

                    <div class="row top40" data-wizard-helper-offset-reference="release_date">
                        <div class="col-md-3">
                            <div class="h2 top30">Matriculación</div>
                        </div>
                        <div class="col-md-3 bottom15_xs">
                            <div class="field"><label for="js_car_registration_country">País de matriculación <abbr
                                    title="personalizado"></abbr></label><select id="js_car_registration_country"
                                                                                 data-wizard-helper-focus="release_date"
                                                                                 name="car[registration_country]">
                                <option value="DE">Alemania</option>
                                <option value="AT">Austria</option>
                                <option value="BE">Bélgica</option>
                                <option selected="selected" value="ES">España</option>
                                <option value="FR">Francia</option>
                            </select></div>
                        </div>
                        <div class="col-md-6">
                            <div class="field">
                                <label for="car_release_year">Año de la primera matriculación <abbr
                                        title="personalizado"></abbr></label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="field"><select data-wizard-helper-focus="release_date"
                                                                   name="car[release_year]" id="car_release_year">
                                            <option value="">Año</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                            <option value="1989">1989</option>
                                            <option value="1988">1988</option>
                                            <option value="1987">1987</option>
                                            <option value="1986">1986</option>
                                            <option value="1985">1985</option>
                                            <option value="1984">1984</option>
                                            <option value="1983">1983</option>
                                            <option value="1982">1982</option>
                                            <option value="1981">1981</option>
                                            <option value="1980">1980</option>
                                            <option value="1979">1979</option>
                                            <option value="1978">1978</option>
                                            <option value="1977">1977</option>
                                            <option value="1976">1976</option>
                                            <option value="1975">1975</option>
                                            <option value="1974">1974</option>
                                            <option value="1973">1973</option>
                                            <option value="1972">1972</option>
                                            <option value="1971">1971</option>
                                            <option value="1970">1970</option>
                                            <option value="1969">1969</option>
                                            <option value="1968">1968</option>
                                            <option value="1967">1967</option>
                                            <option value="1966">1966</option>
                                            <option value="1965">1965</option>
                                            <option value="1964">1964</option>
                                            <option value="1963">1963</option>
                                            <option value="1962">1962</option>
                                            <option value="1961">1961</option>
                                            <option value="1960">1960</option>
                                            <option value="1959">1959</option>
                                            <option value="1958">1958</option>
                                            <option value="1957">1957</option>
                                            <option value="1956">1956</option>
                                            <option value="1955">1955</option>
                                            <option value="1954">1954</option>
                                            <option value="1953">1953</option>
                                            <option value="1952">1952</option>
                                            <option value="1951">1951</option>
                                            <option value="1950">1950</option>
                                            <option value="1949">1949</option>
                                            <option value="1948">1948</option>
                                            <option value="1947">1947</option>
                                            <option value="1946">1946</option>
                                            <option value="1945">1945</option>
                                            <option value="1944">1944</option>
                                            <option value="1943">1943</option>
                                            <option value="1942">1942</option>
                                            <option value="1941">1941</option>
                                            <option value="1940">1940</option>
                                            <option value="1939">1939</option>
                                            <option value="1938">1938</option>
                                            <option value="1937">1937</option>
                                            <option value="1936">1936</option>
                                            <option value="1935">1935</option>
                                            <option value="1934">1934</option>
                                            <option value="1933">1933</option>
                                            <option value="1932">1932</option>
                                            <option value="1931">1931</option>
                                            <option value="1930">1930</option>
                                        </select></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row top40">
                        <div class="col-md-3">
                            <div class="h2">Características</div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-sm-4 bottom10">
                                    <div class="field"><select name="car[seats]" id="car_seats">
                                        <option value="">Número de plazas</option>
                                        <option data-slug="2" value="2">2 plazas</option>
                                        <option data-slug="3" value="3">3 plazas</option>
                                        <option data-slug="4" value="4">4 plazas</option>
                                        <option data-slug="5" value="5">5 plazas</option>
                                        <option data-slug="6" value="6">6 plazas</option>
                                        <option data-slug="7" value="7">7 plazas</option>
                                        <option data-slug="8" value="8">8 plazas</option>
                                        <option data-slug="9" value="9">9 plazas y más</option>
                                    </select></div>
                                </div>
                                <div class="col-sm-4 bottom10">
                                    <div class="field"><select name="car[doors]" id="car_doors">
                                        <option value="">Número de puertas</option>
                                        <option data-slug="2" value="2">2 puertas</option>
                                        <option data-slug="3" value="3">3 puertas</option>
                                        <option data-slug="4" value="4">4 puertas</option>
                                        <option data-slug="5" value="5">5 puertas</option>
                                        <option data-slug="6" value="6">6 puertas</option>
                                        <option data-slug="7" value="7">7 puertas y más</option>
                                    </select></div>
                                </div>
                                <div class="col-sm-4 bottom10">
                                    <div class="field"><select class="js_car_energy" name="car[energy]" id="car_energy">
                                        <option value="">Combustible</option>
                                        <option data-slug="diesel" value="1">Diésel</option>
                                        <option data-slug="sp98" value="2">Gasolina sin plomo 98</option>
                                        <option data-slug="sp95" value="3">Gasolina sin plomo 95</option>
                                        <option data-slug="electric" value="4">Eléctrico</option>
                                        <option data-slug="gpl" value="5">Gas licuado del petróleo</option>
                                        <option data-slug="hybrid" value="6">Híbrido</option>
                                        <option data-slug="other" value="7">Otro</option>
                                    </select></div>
                                </div>
                                <div class="col-sm-4 bottom10">
                                    <div class="field"><select name="car[transmission]" id="car_transmission">
                                        <option value="">Cambio</option>
                                        <option data-slug="manual" value="1">Cambio manual</option>
                                        <option data-slug="automatic" value="2">Cambio automático</option>
                                    </select></div>
                                </div>
                                <div class="col-sm-4 bottom10">
                                    <div class="field"><select name="car[mileage]" id="car_mileage">
                                        <option value="">Kilometraje</option>
                                        <option data-slug="0+" value="1">0-15.000km</option>
                                        <option data-slug="15_000+" value="2">15-30.000km</option>
                                        <option data-slug="30_000+" value="3">30-50.000km</option>
                                        <option data-slug="50_000+" value="4">50-75.000km</option>
                                        <option data-slug="75_000+" value="5">75-100.000km</option>
                                        <option data-slug="100_000+" value="6">100-150.000km</option>
                                        <option data-slug="150_000+" value="7">150-200.000km</option>
                                        <option data-slug="200_000+" value="8">+200.000km</option>
                                    </select></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="field"><select class="js_car_fuel_consumption"
                                                               name="car[fuel_consumption]" id="car_fuel_consumption">
                                        <option value="">Consumo</option>
                                        <option data-slug="0" value="0">0 L/100km</option>
                                        <option data-slug="1" value="1">1 L/100km</option>
                                        <option data-slug="2" value="2">2 L/100km</option>
                                        <option data-slug="3" value="3">3 L/100km</option>
                                        <option data-slug="4" value="4">4 L/100km</option>
                                        <option data-slug="5" value="5">5 L/100km</option>
                                        <option data-slug="6" value="6">6 L/100km</option>
                                        <option data-slug="7" value="7">7 L/100km</option>
                                        <option data-slug="8" value="8">8 L/100km</option>
                                        <option data-slug="9" value="9">9 L/100km</option>
                                        <option data-slug="10" value="10">10 L/100km</option>
                                        <option data-slug="11" value="11">11 L/100km</option>
                                        <option data-slug="12" value="12">12 L/100km</option>
                                        <option data-slug="13" value="13">13 L/100km</option>
                                        <option data-slug="14" value="14">14 L/100km</option>
                                        <option data-slug="15" value="15">15 L/100km</option>
                                        <option data-slug="16" value="16">16 L/100km</option>
                                        <option data-slug="17" value="17">17 L/100km</option>
                                        <option data-slug="18" value="18">18 L/100km</option>
                                        <option data-slug="19" value="19">19 L/100km</option>
                                        <option data-slug="20" value="20">20 L/100km y más</option>
                                    </select></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<input type="hidden" name="car[car_options][]" id="car_car_options_" value="">-->
                    <div class="row top40" data-wizard-helper-offset-reference="baby_seat">
                        <div class="col-md-3">
                            <div class="h2">Opciones</div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-sm-6 car_options">
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="air_conditioning"
                                               id="car_options_air_conditioning" checked="checked">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M15.3356953,15.7775938 L13.7320508,13 L16.9393398,13 L19.4696699,15.5303301 C19.7625631,15.8232233 20.2374369,15.8232233 20.5303301,15.5303301 C20.8232233,15.2374369 20.8232233,14.7625631 20.5303301,14.4696699 L19.0606602,13 L21,13 C21.5522847,13 22,12.5522847 22,12 C22,11.4477153 21.5522847,11 21,11 L19.0606602,11 L20.5303301,9.53033009 C20.8232233,9.23743687 20.8232233,8.76256313 20.5303301,8.46966991 C20.2374369,8.1767767 19.7625631,8.1767767 19.4696699,8.46966991 L16.9393398,11 L13.7320508,11 L15.3356953,8.22240623 L18.7921905,7.29624114 C19.1922901,7.18903478 19.4297269,6.77778206 19.3225206,6.37768249 C19.2153142,5.97758291 18.8040615,5.74014604 18.4039619,5.8473524 L16.3963555,6.38528892 L17.3660254,4.70577137 C17.6421678,4.22747874 17.4782926,3.61588834 17,3.33974596 C16.5217074,3.06360359 15.910117,3.22747874 15.6339746,3.70577137 L14.6643047,5.38528892 L14.1263682,3.37768249 C14.0191618,2.97758291 13.6079091,2.74014604 13.2078095,2.8473524 C12.8077099,2.95455876 12.5702731,3.36581148 12.6774794,3.76591105 L13.6036445,7.22240623 L12,10 L10.3963555,7.22240623 L11.3225206,3.76591105 C11.4297269,3.36581148 11.1922901,2.95455876 10.7921905,2.8473524 C10.3920909,2.74014604 9.9808382,2.97758291 9.87363184,3.37768249 L9.33569532,5.38528892 L8.3660254,3.70577137 C8.08988303,3.22747874 7.47829262,3.06360359 7,3.33974596 C6.52170738,3.61588834 6.35783222,4.22747874 6.6339746,4.70577137 L7.60364451,6.38528892 L5.59603807,5.8473524 C5.19593849,5.74014604 4.78468578,5.97758291 4.67747942,6.37768249 C4.57027306,6.77778206 4.80770993,7.18903478 5.2078095,7.29624114 L8.66430468,8.22240623 L10.2679492,11 L7.06066017,11 L4.53033009,8.46966991 C4.23743687,8.1767767 3.76256313,8.1767767 3.46966991,8.46966991 C3.1767767,8.76256313 3.1767767,9.23743687 3.46966991,9.53033009 L4.93933983,11 L3,11 C2.44771525,11 2,11.4477153 2,12 C2,12.5522847 2.44771525,13 3,13 L4.93933983,13 L3.46966991,14.4696699 C3.1767767,14.7625631 3.1767767,15.2374369 3.46966991,15.5303301 C3.76256313,15.8232233 4.23743687,15.8232233 4.53033009,15.5303301 L7.06066017,13 L10.2679492,13 L8.66430468,15.7775938 L5.2078095,16.7037589 C4.80770993,16.8109652 4.57027306,17.2222179 4.67747942,17.6223175 C4.78468578,18.0224171 5.19593849,18.259854 5.59603807,18.1526476 L7.60364451,17.6147111 L6.6339746,19.2942286 C6.35783222,19.7725213 6.52170738,20.3841117 7,20.660254 C7.47829262,20.9363964 8.08988303,20.7725213 8.3660254,20.2942286 L9.33569532,18.6147111 L9.87363184,20.6223175 C9.9808382,21.0224171 10.3920909,21.259854 10.7921905,21.1526476 C11.1922901,21.0454412 11.4297269,20.6341885 11.3225206,20.2340889 L10.3963555,16.7775938 L12,14 L13.6036445,16.7775938 L12.6774794,20.2340889 C12.5702731,20.6341885 12.8077099,21.0454412 13.2078095,21.1526476 C13.6079091,21.259854 14.0191618,21.0224171 14.1263682,20.6223175 L14.6643047,18.6147111 L15.6339746,20.2942286 C15.910117,20.7725213 16.5217074,20.9363964 17,20.660254 C17.4782926,20.3841117 17.6421678,19.7725213 17.3660254,19.2942286 L16.3963555,17.6147111 L18.4039619,18.1526476 C18.8040615,18.259854 19.2153142,18.0224171 19.3225206,17.6223175 C19.4297269,17.2222179 19.1922901,16.8109652 18.7921905,16.7037589 L15.3356953,15.7775938 L15.3356953,15.7775938 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Aire acondicionado
                                    </label>
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="cruise_control"
                                               id="car_options_cruise_control">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M18.5016294,17.5990169 C18.823143,16.795452 19,15.9183796 19,15 C19,14.0816204 18.823143,13.204548 18.5016294,12.4009831 L17.2631397,13.1160254 C16.7848471,13.3921678 16.1732567,13.2282926 15.8971143,12.75 C15.6209719,12.2717074 15.7848471,11.660117 16.2631397,11.3839746 L17.5002554,10.6697255 C16.4134925,9.29123307 14.819618,8.33116482 13,8.07088886 L13,9.5 C13,10.0522847 12.5522847,10.5 12,10.5 C11.4477153,10.5 11,10.0522847 11,9.5 L11,8.07088886 C9.18038198,8.33116482 7.58650747,9.29123307 6.49974457,10.6697255 L7.73686028,11.3839746 C8.2151529,11.660117 8.37902806,12.2717074 8.10288568,12.75 C7.82674331,13.2282926 7.2151529,13.3921678 6.73686028,13.1160254 L5.4983706,12.4009831 C5.17685697,13.204548 5,14.0816204 5,15 C5,15.9183796 5.17685697,16.795452 5.4983706,17.5990169 L6.73686028,16.8839746 C7.2151529,16.6078322 7.82674331,16.7717074 8.10288568,17.25 C8.37902806,17.7282926 8.2151529,18.339883 7.73686028,18.6160254 L6.25227702,19.4731499 L4.75352152,20.3384568 C3.65142283,18.8449505 3,16.9985492 3,15 C3,10.0294373 7.02943725,6 12,6 C16.9705627,6 21,10.0294373 21,15 C21,16.9985492 20.3485772,18.8449505 19.2464785,20.3384568 L17.747723,19.4731499 L16.2631397,18.6160254 C15.7848471,18.339883 15.6209719,17.7282926 15.8971143,17.25 C16.1732567,16.7717074 16.7848471,16.6078322 17.2631397,16.8839746 L18.5016294,17.5990169 L18.5016294,17.5990169 Z M10.2839742,17.0980762 C10.1776277,16.9138786 10.1018793,16.6938509 10.0231503,16.3939185 C9.94466213,16.0949037 9.8650506,15.7136257 9.78377554,15.2642573 C9.71911523,14.9067515 9.65697785,14.5259014 9.59938325,14.1453556 C9.56484337,13.9171397 9.53938006,13.738967 9.5252247,13.6353319 L9.19397075,11.2101348 L11.128626,12.7096077 C11.2069631,12.7703236 11.3415815,12.8759627 11.5139652,13.0134603 C11.8012698,13.2426218 12.0887641,13.4771246 12.3584612,13.7044137 C12.4474318,13.7795861 12.4474318,13.7795861 12.5362574,13.8554833 C13.181972,14.4089165 13.5636258,14.7785994 13.7480758,15.0980762 C14.3003606,16.0546615 13.9726103,17.2778423 13.016025,17.830127 C12.0594398,18.3824118 10.836259,18.0546615 10.2839742,17.0980762 L10.2839742,17.0980762 Z M6.23205081,6.43205086 L1.3303847,5.11865338 L7.54544828,1.53038475 L6.23205081,6.43205086 L6.23205081,6.43205086 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Control de velocidad
                                    </label>
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="gps"
                                               id="car_options_gps">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M10,20 L19.0057979,20 C20.656688,20 22,18.652611 22,16.9905224 L22,7.00947762 C22,5.33663106 20.6594501,4 19.0057979,4 L4.99420208,4 C3.34331197,4 2,5.34738902 2,7.00947762 L2,16.9905224 C2,18.6633689 3.34054993,20 4.99420208,20 L7,20 L7,11 C7,10.4477153 7.44771525,10 8,10 L14,10 L14,6.5 L19.5,11.5 L14,16.5 L14,13 L10,13 L10,20 L10,20 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        GPS
                                    </label>
                                    <label class="checkbox" data-wizard-helper-checked="baby_seat">
                                        <input name="car[car_options][]" type="checkbox" value="baby_seat"
                                               id="car_options_baby_seat">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M9.01360608,17.1643993 L7.51360608,8.16439898 C7.4278949,7.65013192 7.75167017,7.15630604 8.25746438,7.02985749 C9.88033533,6.62413976 11.0061186,6.78560798 11.6702927,7.68355608 C12.1397828,8.31829606 12.2053068,8.86121077 12.207256,10.353527 C12.2081209,11.0156819 12.2162788,11.315184 12.2531316,11.6707514 C12.3526552,12.6309847 12.6472586,13.269535 13.2818182,13.7454546 C13.8111285,14.1424374 14.0999296,14.0900264 14.9581125,13.5398308 C15.9375867,12.9118733 16.2070009,12.773675 16.8415952,12.7609787 C17.6284769,12.7452355 18.2897469,13.1772996 18.8320503,13.9907549 C19.0032255,14.2475176 19.0462682,14.5689282 18.9486833,14.8616828 L18.1305015,17.3162278 C17.9943874,17.7245699 17.6122486,18 17.1818182,18 L10,18.0000003 C9.51116087,18.0000003 9.09397074,17.6465872 9.01360608,17.1643993 Z M6.67007371,21 L19,21 C19.5522847,21 20,20.5522847 20,20 C20,19.4477153 19.5522847,19 19,19 L8.33066041,19.0039153 L5.48287219,3.81571146 C5.38109244,3.27288615 4.85853678,2.91534807 4.31571146,3.01712781 C3.77288615,3.11890756 3.41534807,3.64146322 3.51712781,4.18428854 L6.67007371,21 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Silla infantil
                                    </label>
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="roof_box"
                                               id="car_options_roof_box">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M15.5,10 L8.5,10 C6.13923746,10 4.46090755,11.8198203 3.61844467,14.5388545 C3.49965465,14.5133992 3.3763921,14.5 3.25,14.5 C2.28350169,14.5 1.5,15.2835017 1.5,16.25 C1.5,17.1413222 2.16635737,17.8770083 3.02807571,17.986062 C3.00941238,18.3186894 3,18.6569916 3,19 L3,23 L20.9719238,23 L21,19 C21,18.6569916 20.9905876,18.3186894 20.9719243,17.986062 C21.8336426,17.8770083 22.5,17.1413222 22.5,16.25 C22.5,15.2835017 21.7164983,14.5 20.75,14.5 C20.6236079,14.5 20.5003453,14.5133992 20.3815553,14.5388545 C19.5390925,11.8198203 17.8607625,10 15.5,10 Z M5.5,17 C5.49999996,16 5.5,12 9,12 L15,12 C18.5,12 18.5,16 18.5,17 L5.5,17 L5.5,17 L5.5,17 Z M17.5,22 C16.6715729,22 16,21.3284271 16,20.5 C16,19.6715729 16.6715729,19 17.5,19 C18.3284271,19 19,19.6715729 19,20.5 C19,21.3284271 18.3284271,22 17.5,22 L17.5,22 L17.5,22 Z M6.5,22 C5.67157288,22 5,21.3284271 5,20.5 C5,19.6715729 5.67157288,19 6.5,19 C7.32842712,19 8,19.6715729 8,20.5 C8,21.3284271 7.32842712,22 6.5,22 L6.5,22 Z M8.99715203,3 L15.002848,3 C16.6581293,3 18,4.34651712 18,6 L18,8.00922203 C18,8.55641359 17.544239,9 16.9975267,9 L7.00247329,9 C6.44882258,9 6,8.54902482 6,8.00922203 L6,6 C6,4.34314575 7.34162278,3 8.99715203,3 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Portaequipajes
                                    </label>
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="bike_rack"
                                               id="car_options_bike_rack">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M6.28624477,11.0684524 C6.81894739,9.5768251 7.28986624,8.25818966 7.29015213,8.25735524 L6.66147451,7 L6.5,7 C5.94771525,7 5.5,6.55228475 5.5,6 C5.5,5.44771525 5.94771525,5 6.5,5 L9.5,5 C10.0522847,5 10.5,5.44771525 10.5,6 C10.5,6.55228475 10.0522847,7 9.5,7 L8.33852549,7 L8.67144263,7.66583427 L15.8459127,6.82177898 L15.4076479,4.80576123 C15.1604137,4.62370298 15,4.33058481 15,4 C15,3.44771525 15.4477153,3 16,3 L19,3 C19.5522847,3 20,3.44771525 20,4 C20,4.55228475 19.5522847,5 19,5 L16.9849088,5 L18.2903,11.0047995 C18.3598004,11.0016115 18.429712,11 18.5,11 C20.9852814,11 23,13.0147186 23,15.5 C23,17.9852814 20.9852814,20 18.5,20 C16.0147186,20 14,17.9852814 14,15.5 C14,13.6069751 15.1688961,11.9869606 16.8242971,11.3223475 L16.4099614,9.4164029 L12.1103001,15.4359286 C11.9695578,15.6329678 11.7606518,15.7355096 11.5479461,15.7486042 L11.5479461,15.7486042 L9.98427304,15.8789102 C9.79185649,18.1868722 7.85766759,20 5.5,20 C3.01471863,20 1,17.9852814 1,15.5 C1,13.0147186 3.01471863,11 5.5,11 C5.76820894,11 6.03093747,11.0234644 6.28624477,11.0684524 L6.28624477,11.0684524 L6.28624477,11.0684524 Z M18.6158207,12.5021946 C20.2189983,12.5630519 21.5,13.8819289 21.5,15.5 C21.5,17.1568542 20.1568542,18.5 18.5,18.5 C16.8431458,18.5 15.5,17.1568542 15.5,15.5 C15.5,14.32876 16.1711913,13.3142852 17.149923,12.8202263 L17.7671177,15.6593222 C17.855109,16.0640819 18.2545625,16.3208735 18.6593222,16.2328823 C19.0640819,16.144891 19.3208735,15.7454375 19.2328823,15.3406778 L18.6158207,12.5021946 L18.6158207,12.5021946 L18.6158207,12.5021946 Z M9.38466108,9.09227117 L11.6209425,13.5648339 L15.297428,8.39665153 L9.38466108,9.09227117 L9.38466108,9.09227117 L9.38466108,9.09227117 Z M7.18337839,13.0164508 L6.59785643,14.6559123 L8.33326106,14.5112953 C8.11919245,13.8977985 7.71148978,13.3751085 7.18337839,13.0164508 L7.18337839,13.0164508 L7.18337839,13.0164508 Z M7.69892548,11.572919 L8.21934569,10.1157424 L8.21934569,10.1157424 L10.3337677,14.3445864 L10.3337677,14.3445864 L9.86054236,14.3840218 C9.55291982,13.178417 8.75847263,12.1674745 7.69892548,11.572919 L7.69892548,11.572919 L7.69892548,11.572919 Z M5.77069499,12.5120475 C5.68152926,12.5040731 5.5912403,12.5 5.5,12.5 C3.84314575,12.5 2.5,13.8431458 2.5,15.5 C2.5,17.1568542 3.84314575,18.5 5.5,18.5 C6.98435223,18.5 8.21691844,17.4219759 8.45748365,16.0061427 L5.56228411,16.2474093 C5.41571302,16.2596236 5.27548017,16.2288262 5.15395853,16.1654998 C4.82608197,15.9955372 4.66602055,15.6052321 4.79369357,15.2477477 C4.79369357,15.2477477 5.24898207,13.9728979 5.77069499,12.5120475 L5.77069499,12.5120475 L5.77069499,12.5120475 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Portabicicletas
                                    </label>
                                </div>
                                <div class="col-sm-6 car_options">
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="snow_tire"
                                               id="car_options_snow_tire">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M13.2725171,21.9071338 C13.2196045,21.9221359 13.164741,21.9329607 13.1082569,21.9391954 C12.7419127,21.9796324 12.3721078,22 12,22 C11.9993319,22 11.998664,21.9999993 11.9979962,21.999998 C11.9973293,21.9999991 11.9966613,21.9999995 11.9959932,21.9999992 C11.9245915,21.9999712 11.8532694,21.9991931 11.782035,21.9976669 C11.2298769,21.9858367 10.7918547,21.5286339 10.8036849,20.9764759 C10.80408,20.9580327 10.8049721,20.9397167 10.806348,20.9215407 C10.4870559,20.8792305 10.1730476,20.8201815 9.86523388,20.7453044 C9.85982778,20.7630624 9.85390145,20.7807734 9.84744684,20.79842 C9.65773002,21.3170971 9.08346326,21.5837722 8.56478612,21.3940553 C8.21617216,21.2665426 7.87531054,21.1197089 7.54362494,20.954349 C7.04935891,20.7079357 6.84843461,20.1074964 7.09484796,19.6132304 C7.10318409,19.5965094 7.11192539,19.5801242 7.12105403,19.5640806 C6.81261672,19.3647235 6.517151,19.1470147 6.23620182,18.9124992 C6.22370044,18.9258728 6.21076488,18.9389828 6.19739554,18.9518105 C5.7988834,19.3341802 5.16585366,19.321094 4.78348405,18.9225819 C4.52697462,18.6552434 4.28539665,18.3738928 4.05996221,18.0798851 C3.72390798,17.6416089 3.80677524,17.0138901 4.24505141,16.6778359 C4.25980392,16.6665242 4.27477107,16.6556871 4.28993451,16.6453223 C4.11459089,16.3549201 3.95519076,16.0538091 3.81294672,15.743202 C3.79566651,15.7499566 3.77810118,15.7562741 3.76025933,15.7621376 C3.23558107,15.9345648 2.67046537,15.649009 2.4980381,15.1243307 C2.38243076,14.7725496 2.28640339,14.4140032 2.21053434,14.0500451 C2.09783024,13.5093823 2.44475929,12.9797238 2.98542206,12.8670197 C3.00372778,12.8632038 3.02202089,12.8599148 3.04028562,12.8571423 C3.01363109,12.575017 3,12.2891004 3,12 C3,11.9400974 3.00058523,11.8803314 3.00175028,11.8207075 C2.98347663,11.8193271 2.96513684,11.8174418 2.94674548,11.8150406 C2.39910865,11.7435399 2.01312404,11.2416298 2.08462473,10.6939929 C2.13277664,10.3251887 2.20129724,9.96061081 2.28971715,9.60155208 C2.42177473,9.06528793 2.96355654,8.73761376 3.4998207,8.86967135 C3.51806372,8.87416378 3.53606535,8.87913037 3.55381569,8.88455478 C3.66844838,8.57388395 3.79973212,8.2712756 3.9465842,7.97781246 C3.9305979,7.96864746 3.91477107,7.95899304 3.899122,7.94884532 C3.43573554,7.64835998 3.30367809,7.02911955 3.60416342,6.56573309 C3.80575485,6.25485356 4.0244671,5.95537987 4.25918482,5.66871326 C4.60906623,5.24139436 5.23911156,5.17861886 5.66643047,5.52850027 C5.68077286,5.54024357 5.69470459,5.55230249 5.70822383,5.56465876 C5.95396376,5.32436718 6.21341172,5.09803621 6.4852851,4.88694843 C6.47484252,4.8718116 6.46475358,4.85630365 6.45503633,4.84042893 C6.16670117,4.36938617 6.31481496,3.75378874 6.78585772,3.46545358 C7.10201072,3.2719297 7.42877894,3.09607137 7.76472709,2.93880352 C8.26491711,2.7046489 8.86022106,2.9203132 9.09437568,3.42050322 C9.10232858,3.43749182 9.10976257,3.45459014 9.11668415,3.4717803 C9.43992091,3.36253531 9.77138628,3.27115159 10.1099058,3.19880353 C10.1070821,3.18060024 10.1047398,3.162216 10.1028935,3.14366263 C10.0482041,2.59409234 10.4493843,2.10424304 10.9989546,2.0495536 C11.3305041,2.01656009 11.6644768,1.99999997 12.0023889,2.00000028 C12.0559154,2.00010655 12.0559154,2.00010655 12.1093614,2.00058687 C12.6616143,2.00651634 13.104497,2.45901256 13.0985675,3.01126548 C13.0983699,3.0296769 13.0976758,3.04796676 13.0964983,3.06612248 C13.4153895,3.10485588 13.7291364,3.16026715 14.0368407,3.23145792 C14.0420464,3.21363978 14.0477729,3.19586278 14.0540284,3.17814417 C14.2378888,2.65736228 14.8091143,2.38423347 15.3298962,2.56809391 C15.6799798,2.69168982 16.0224942,2.83469126 16.3560187,2.9963201 C16.8530192,3.23717071 17.0606696,3.83531716 16.819819,4.33231759 C16.811667,4.34913944 16.8031057,4.36562981 16.7941528,4.38178253 C17.1055867,4.57818045 17.404137,4.7931475 17.6882492,5.02512917 C17.7006059,5.01162018 17.7133996,4.9983703 17.7266302,4.98539786 C18.1209827,4.59873967 18.7541169,4.60497714 19.1407751,4.99932963 C19.4001507,5.26386666 19.64475,5.54257569 19.8733489,5.83410994 C20.2141347,6.26871722 20.1380773,6.8972975 19.70347,7.23808329 C19.6888468,7.24954973 19.6740039,7.26054425 19.6589598,7.27106908 C19.8377916,7.56008952 20.0007206,7.85998751 20.1465254,8.16954171 C20.163728,8.16260312 20.1812203,8.1560983 20.1989939,8.15004435 C20.7217839,7.97197405 21.2899435,8.25142461 21.4680137,8.77421464 C21.5874169,9.12476598 21.6873003,9.48226046 21.7670699,9.84533725 C21.8855826,10.3847565 21.5443704,10.9181158 21.0049511,11.0366286 C20.9866728,11.0406444 20.9684015,11.0441324 20.9501531,11.0471026 C20.978553,11.3169758 20.995026,11.590403 20.9990351,11.8668474 C20.6627106,11.5748083 20.254925,11.3540434 19.7919243,11.2340062 C19.1650392,11.0684054 18.5292329,11.1155434 17.9632605,11.3322455 C17.6311364,8.3328023 15.0879958,6 12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.0884134 8.33343331,17.6318243 11.3334624,17.9633951 C11.1164954,18.5311086 11.0696304,19.1697265 11.2363244,19.8007822 C11.5085602,20.8508894 12.3056592,21.6176099 13.2725171,21.9071338 L13.2725171,21.9071338 L13.2725171,21.9071338 Z M21.2728823,12.1378146 C21.7027576,12.2911877 21.9853133,12.7259226 21.9288485,13.1982626 C21.9243919,13.2355425 21.9197277,13.2727811 21.9148561,13.309977 C21.7908918,12.875066 21.5712171,12.4740413 21.2728823,12.1378146 L21.2728823,12.1378146 L21.2728823,12.1378146 Z M16.5289431,12.4855284 C16.6639194,12.2797504 16.8225768,12.0936925 17,11.9300493 C16.9625748,9.20087099 14.73844,7 12.0002397,7 C9.23868356,7 7,9.23857625 7,12 C7,14.7382287 9.20123317,16.9623566 11.930763,16.9995272 C12.0929479,16.8235399 12.2771701,16.6660656 12.4807976,16.5318565 L12.4807976,16.5318565 C12.482498,16.5292966 12.4841996,16.5267459 12.4859027,16.5242045 C12.1271453,15.8114497 12.0743905,14.9821365 12.3252155,14.2267063 C12.2191064,14.2420552 12.1106009,14.25 12.0002397,14.25 C10.7575394,14.25 9.75013182,13.2426407 9.75013182,12 C9.75013182,10.7573593 10.7575394,9.75 12.0002397,9.75 C13.2429399,9.75 14.2503475,10.7573593 14.2503475,12 C14.2503475,12.1079408 14.2427463,12.2141062 14.2280498,12.3179904 C14.9851476,12.0681512 15.8216741,12.1236752 16.532037,12.4839815 L16.5289431,12.4855284 L16.5289431,12.4855284 L16.5289431,12.4855284 Z M13.6528365,12.5773689 C13.7159919,12.3966026 13.7503236,12.2023104 13.7503236,12 C13.7503236,11.0335017 12.9667843,10.25 12.0002397,10.25 C11.033695,10.25 10.2501558,11.0335017 10.2501558,12 C10.2501558,12.9664983 11.033695,13.75 12.0002397,13.75 C12.2056866,13.75 12.4028651,13.7146006 12.5860081,13.6495689 C12.7111894,13.4349674 12.8645684,13.2319038 13.0460762,13.0457864 C13.2314981,12.8603734 13.435783,12.70424 13.6528365,12.5773689 L13.6528365,12.5773689 L13.6528365,12.5773689 Z M13.88,18.07 C13.34,18.21 13.03,18.76 13.17,19.29 C13.31,19.83 13.86,20.14 14.4,20 L16.59,19.41 L16,21.6 C15.86,22.14 16.17,22.69 16.71,22.83 C17.24,22.97 17.79,22.66 17.93,22.12 L18.5,19.93 L20.12,21.54 C20.5,21.93 21.15,21.93 21.54,21.54 C21.93,21.15 21.93,20.5 21.54,20.12 L19.93,18.5 L22.12,17.93 C22.66,17.79 22.97,17.24 22.83,16.71 C22.69,16.17 22.14,15.86 21.6,16 L19.41,16.59 L20,14.4 C20.14,13.86 19.83,13.31 19.29,13.17 C18.76,13.03 18.21,13.34 18.07,13.88 L17.5,16.07 L15.88,14.46 C15.5,14.07 14.85,14.07 14.46,14.46 C14.07,14.86 14.07,15.5 14.46,15.88 L16.07,17.5 L13.88,18.07 L13.88,18.07 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Neumáticos de invierno
                                    </label>
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="chains"
                                               id="car_options_chains">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M11.5047639,14.7976572 L9.7020829,12.9949761 L9.7020829,12.9949761 L11.499331,11.2000881 C11.1803745,11.0668668 10.925836,10.8101962 10.7954242,10.4897854 L8.99497597,12.2878692 L8.99497597,12.2878692 L7.35355339,10.6464466 L7,10.2928932 L7,9.70710678 L7.34040413,9.36670265 L9.00154628,7.7055605 L10.7992545,9.50090792 C10.9320691,9.18173899 11.1884315,8.92688976 11.5086326,8.79606927 L9.70865322,6.99845357 L11.5047639,5.20234284 C11.1850805,5.07052437 10.9294756,4.81491951 10.7976572,4.49523605 L9.00108184,6.29181138 L7.35332102,4.64621439 L7.0696573,4.36292318 L7.0696573,4.36292318 C7.3202928,3.21841305 8.22200364,2.31763588 9.3615856,2.06869238 L10.7976572,3.50476395 C10.9294756,3.18508049 11.1850805,2.92947563 11.5047639,2.79765716 L10.7071068,2 L13.2928932,2 L12.4952361,2.79765716 C12.8149195,2.92947563 13.0705244,3.18508049 13.2023428,3.50476395 L14.6391042,2.06800259 C15.7819836,2.315165 16.6820088,3.21204809 16.9311237,4.3621432 L16.9311237,4.3621432 L16.646679,4.64621439 L14.9989182,6.29181138 L13.2023428,4.49523605 C13.0705244,4.81491951 12.8149195,5.07052437 12.4952361,5.20234284 L14.2913468,6.99845357 L14.2913468,6.99845357 L12.4913674,8.79606927 C12.8115685,8.92688976 13.0679309,9.18173899 13.2007455,9.50090792 L14.9984537,7.7055605 L14.9984537,7.7055605 L16.6595959,9.36670265 L17,9.70710678 L17,10.2928932 L16.6464466,10.6464466 L15.005024,12.2878692 L13.2045758,10.4897854 C13.074164,10.8101962 12.8196255,11.0668668 12.500669,11.2000881 L14.2979171,12.9949761 L12.4952361,14.7976572 C12.8149195,14.9294756 13.0705244,15.1850805 13.2023428,15.5047639 L15.0054885,13.7016183 L16.6598282,15.3537856 L16.9326853,15.6262843 L16.9326853,15.6262843 C16.6853697,16.7759215 15.781576,17.6815821 14.6384144,17.9313076 L13.2023428,16.4952361 C13.0705244,16.8149195 12.8149195,17.0705244 12.4952361,17.2023428 L13.2928932,18 L10.7071068,18 L10.7071068,18 L11.5047639,17.2023428 C11.1850805,17.0705244 10.9294756,16.8149195 10.7976572,16.4952361 L9.36089581,17.9319974 C8.21443691,17.6840609 7.31235587,16.7823276 7.06655482,15.6270432 L7.06655482,15.6270432 L7.34017176,15.3537856 L8.99451153,13.7016183 L10.7976572,15.5047639 C10.9294756,15.1850805 11.1850805,14.9294756 11.5047639,14.7976572 L11.5047639,14.7976572 L11.5047639,14.7976572 Z M7,14.2802254 L7,11.7071068 L8.2874046,12.9945114 L7,14.2802254 L7,14.2802254 L7,14.2802254 Z M17,5.70664265 L17,8.29289322 L15.7060251,6.99891831 L17,5.70664265 L17,5.70664265 L17,5.70664265 L17,5.70664265 Z M17,14.2802254 L17,11.7071068 L15.7125954,12.9945114 L17,14.2802254 L17,14.2802254 L17,14.2802254 L17,14.2802254 Z M7,5.70664265 L7,8.29289322 L8.29397491,6.99891831 L7,5.70664265 L7,5.70664265 L7,5.70664265 Z M11.3,4 C11.3,3.61340068 11.6134007,3.3 12,3.3 C12.3865993,3.3 12.7,3.61340068 12.7,4 C12.7,4.38659932 12.3865993,4.7 12,4.7 C11.6134007,4.7 11.3,4.38659932 11.3,4 L11.3,4 L11.3,4 Z M11.3,10 C11.3,9.61340068 11.6134007,9.3 12,9.3 C12.3865993,9.3 12.7,9.61340068 12.7,10 C12.7,10.3865993 12.3865993,10.7 12,10.7 C11.6134007,10.7 11.3,10.3865993 11.3,10 L11.3,10 L11.3,10 Z M11.3,16 C11.3,15.6134007 11.6134007,15.3 12,15.3 C12.3865993,15.3 12.7,15.6134007 12.7,16 C12.7,16.3865993 12.3865993,16.7 12,16.7 C11.6134007,16.7 11.3,16.3865993 11.3,16 L11.3,16 Z M3,20 C3,19.4477153 3.13904572,18.5828629 3.31640625,18.0507813 L3.36668479,17.8999457 C3.71645512,16.8506346 4.72889983,16.5089091 5.65417895,17.1341714 C5.65417895,17.1341714 8.20182292,19 9.10091146,19 C10,19 14,19 15,19 C16,19 18.3898506,17.1512985 18.3898506,17.1512985 C19.2791116,16.5154539 20.283885,16.851655 20.6333152,17.8999456 L20.6835938,18.0507813 C20.8583401,18.5750203 21,19.4438648 21,20 C21,20.5522847 20.5550537,21 20.0066023,21 L3.99339768,21 C3.44475929,21 3,20.5561352 3,20 L3,20 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Cadenas para la nieve
                                    </label>
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="ski_rack"
                                               id="car_options_ski_rack">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M3,22 L5.5,22 L6,21 L8,21 L8.55000019,22 L11,22 L11.5,21 C12.3294903,21 11.6243444,19.3294657 11,18.5 C10.3824152,17.6795146 8,17 8,17 L8.55000019,11 L4,11 L2.5,21 L3,22 Z M10,16.6663 L10,6 L11,6 L11,17.1904628 C10.7145071,17.0067555 10.3803308,16.8348732 10,16.6663 L10,16.6663 Z M12,6 L13,6 L13,20 L14,20 L14,21 L13,21 L13,22 L12,22 C12.8840688,21.7536758 13.0364288,20.7543019 12.7558822,19.7834409 C12.6070718,19.2684667 12.3209292,18.675156 12,18.185408 L12,6 Z M17,7 C17,5.94519226 16.6765548,4.86704167 16.1444272,3.8027864 C15.8332516,3.18043519 15.5208027,2.69440364 15.3,2.4 L14.7,1.6 L13.1,2.8 L13.7,3.6 C13.7330357,3.64404766 13.8013833,3.74168708 13.8931965,3.88450759 C14.0504805,4.12917161 14.2085151,4.40309825 14.3555728,4.6972136 C14.7609452,5.50795833 15,6.30480774 15,7 L15,21 L15,22 L17,22 L17,21 L17,7 Z M20,7 C20,6.30480774 20.2390548,5.50795833 20.6444272,4.6972136 C20.7914849,4.40309825 20.9495195,4.12917161 21.1068035,3.88450759 C21.1986167,3.74168708 21.2669643,3.64404766 21.3,3.6 L21.9,2.8 L20.3,1.6 L19.7,2.4 C19.4791973,2.69440364 19.1667484,3.18043519 18.8555728,3.8027864 C18.3234452,4.86704167 18,5.94519226 18,7 L18,21 L18,22 L20,22 L20,21 L20,7 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Portaesquís
                                    </label>
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="cd_player"
                                               id="car_options_cd_player">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M16,9 L16,7 L12,7 L12,12.5 C11.58,12.19 11.07,12 10.5,12 C9.11928813,12 8,13.1192881 8,14.5 C8,15.8807119 9.11928813,17 10.5,17 C11.8807119,17 13,15.8807119 13,14.5 L13,9 L16,9 L16,9 Z M12,2 C14.6521649,2 17.195704,3.0535684 19.0710678,4.92893219 C20.9464316,6.80429597 22,9.3478351 22,12 C22,17.5228475 17.5228475,22 12,22 C9.3478351,22 6.80429597,20.9464316 4.92893219,19.0710678 C3.0535684,17.195704 2,14.6521649 2,12 C2,9.3478351 3.0535684,6.80429597 4.92893219,4.92893219 C6.80429597,3.0535684 9.3478351,2 12,2 L12,2 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Reproductor de CD
                                    </label>
                                    <label class="checkbox" data="">
                                        <input name="car[car_options][]" type="checkbox" value="audio_input"
                                               id="car_options_audio_input">
                                        <svg width="24" height="24" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
                                                <path d="M14.25,18 L13,18 L13,16 L11.9953976,16 C11.4456547,16 11,15.5525106 11,15.0014977 L11,3.99850233 C11,3.44704472 11.4556644,3 11.9953976,3 L21.0046024,3 C21.5543453,3 22,3.44748943 22,3.99850233 L22,15.0014977 C22,15.5529553 21.5443356,16 21.0046024,16 L17,16 L17,18 L15.75,18 C15.75,20.6233526 13.6233526,22.75 11,22.75 C8.37664744,22.75 6.25,20.6233526 6.25,18 L6.25,14 C6.25,12.2050746 4.79492544,10.75 3,10.75 L1,10.75 L1,9.25 L3,9.25 C5.62335256,9.25 7.75,11.3766474 7.75,14 L7.75,18 C7.75,19.7949254 9.20507456,21.25 11,21.25 C12.7949254,21.25 14.25,19.7949254 14.25,18 L14.25,18 Z M15,14 C16.1045695,14 17,13.1045695 17,12 L17,7 L20,7 L20,5 L16,5 L16,10.27 C15.71,10.1 15.36,10 15,10 C13.8954305,10 13,10.8954305 13,12 C13,13.1045695 13.8954305,14 15,14 L15,14 Z"
                                                      fill="#b4bbc6"></path>
                                            </g>
                                        </svg>
                                        Entrada de Audio/iPod
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row top40" data-wizard-helper-offset-reference="description">
                        <div class="col-md-3">
                            <label class="h2 block" for="car_description">Descripción</label>
                        </div>
                        <div class="col-md-9">
                            <div class="field"><textarea data-wizard-helper-focus="description"
                                                         placeholder="Mi coche está bien mantenido y en buen estado. Cuenta con un impresionante sistema de sonido que es ideal para viajes por carretera."
                                                         name="car[description]" id="car_description"
                                                         class="js_disable_improvements"
                                                         style="overflow: hidden; word-wrap: break-word; resize: none; height: 56px;width: 480px"></textarea>
                            </div>
                        </div>
                    </div> <!--<input class="form-control" name="model" placeholder="Modelo">-->
                    <!--<input class="form-control" type="year" name="year" placeholder="Año de Matriculación">-->


                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row" id="messages"></div>
                <button type="submit" class="btn-lg btn btn-primary" style="text-align: center">
                    <img class="img-responsive" src="../../public/img/electric-car.png" width="32" height="32" alt=""
                         style="float: left">
                    Publicar auto
                </button>
            </div>

        </div>
    </div>
</div>

<!--&lt;!&ndash; Baqend Logic &ndash;&gt;-->
<!--<script src="https://www.baqend.com/js-sdk/latest/baqend.min.js"></script>-->
<!--<script>-->
<!--var app = 'autoqe'-->
<!--DB.connect(app, function () {-->
<!--showAnnounces();-->
<!--DB.Announce.find().resultList(function (announces) {-->
<!--var $container = $('.container');-->

<!--})-->
<!--});-->
<!--</script>-->