<section id="begin" class="block block-noPadd">
    <div class="container scroll-point-layout animated">
        <h3 class="text-center m-t-15"><img src="/img/android.png" height="48" width="48"></src>
            Una unica aplicación para todas tus necesidades de transporte:</h3>

        <!-- Attraction -->
        <div class="row intro-message" style="text-align: center">
            <div class="col-lg-10 col-sm-12">
                <ul class="list-inline intro-social-buttons to-hide">
                    <li>
                        <a href="#carpool" class="btn btn-default btn-lg">
                            <img src="img/piggy-bank.png"/>
                            <span class="network-name" >
                                    Ahorrá dinero</span>
                        </a>
                    </li>
                    <li>
                        <a href="#carpool" class="btn btn-default btn-lg">
                            <img src="img/gas-station.png"/>
                            <span class="network-name" >
                                    Nafta gratis</span>
                        </a>
                    </li>
                    <li>
                        <a href="#carpool" class="btn btn-default btn-lg">
                            <img src="img/leaf.png"/>
                            <span class="network-name" >
                                    Ayudá al Medioambiente</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Carpooling-->
    <div class="uqSlider toCenterXS uqSliderNewDesign uqSlider-mobile">
        <div class="uqSlider_mobileItem uqSlider_mobileItem-reverse">
            <div class="uqSlider_mobileItem_img uqSlider_imageWrapper">
                <img class="img-responsive img-center uqSlider_image" src="img/happy_car.jpg" style="border-radius: 50%"></div>
            <div class="uqSlider_mobileItem_text">
                <h3 class="uqSlider_title">
                    <a class="color-ubeeqo uqSlider_titleLink" href="/list-trip">
                        <img class="img-responsive" src="img/carpool.png" width="64" height="64" alt="" style="float: left">
                        Carpooling: <br>Comparte tus trayectos</a>
                </h3>
                <hr>
                <p class="uqSlider_text">
                    Es como una red social que conecta conductores y pasajeros para compartir los gastos y la diversión
                    del viaje!
                    <br>
                    <br>
                    <a class="intro-message button"
                       type="submit" href="#map">
                        <span class="glyphicon glyphicon-search"></span>
                        Encuentra:
                    </a>
                    Rutas, viajes, escapadas de fin de semana, trayectos cortos... cerca tuyo!
                    <br>
                    <br>
                    <a class="button"
                       type="submit" href="#map">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Añade Trayecto:
                    </a>
                    Diviertete ahorrando hasta un tercio del coste del trayecto por cada pasajero!
                    <!--<h4>-->
                    <!--<img src="img/leaf.png" height="32" width="32"/>Ciudad verde:</h4>-->
                    <!--<p class="uqSlider_text">-->
                    <!--Por cada plaza de auto que compartes estás reduciendo las congestiones de <b>tráfico</b>,-->
                    <!--ayudando al <b>medio ambiente</b> y facilitando el <b>aparcamiento</b> de todos!-->
                    <!--</p>-->
            </div>
        </div>
        <br>
        <br>
        <br>

        <!--Car Rental-->
        <div class="uqSlider_mobileItem">
            <div class="uqSlider_mobileItem_img uqSlider_imageWrapper">
                <img class="img-responsive img-center uqSlider_image" src="img/part_car.jpg" style="border-radius: 50%"></div>

            <div class="uqSlider_mobileItem_text">
                <h3 class="uqSlider_title">
                    <a class="color-ubeeqo uqSlider_titleLink" href="/list-trip" style="display: inline-flex">
                        Alquiler de auto entre particulares
                        <img class="img-responsive" src="img/car-key.png" width="64" height="64" alt="" >
                    </a>
                </h3>
                <hr>
                <p class="uqSlider_text">
                    Es como una red social que conecta conductores y pasajeros para compartir los gastos y la diversión
                    del viaje!
                    <br>
                    <br>
                    <a class="intro-message button"
                       type="submit" href="#map">
                        <span class="glyphicon glyphicon-search"></span>
                        Encuentra:
                    </a>
                    Rutas, viajes, escapadas de fin de semana, trayectos cortos... cerca tuyo!
                    <br>
                    <br>
                    <a class="button"
                       type="submit" href="#map">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Publica tu auto:
                    </a>Consigue ingresos mientras no lo usas
            </div>
        </div>
        <br>
        <br>
        <br>

        <!--Carsharing-->
        <div class="uqSlider_mobileItem uqSlider_mobileItem-reverse">
            <div class="uqSlider_mobileItem_img uqSlider_imageWrapper">
                <img class="img-responsive img-center uqSlider_image" src="img/electric1.jpg" style="border-radius: 50%"></div>
            <div class="uqSlider_mobileItem_text">
                <h3 class="uqSlider_title">
                    <a class="color-ubeeqo uqSlider_titleLink" href="/list-trip" style="display: inline-flex">
                        <img class="img-responsive" src="img/electric-car.png" width="64" height="64" alt="" >
                        Próximamente alquila autos electricos cerca tuyo
                    </a>
                </h3>
                <hr>
                <p class="uqSlider_text">
                    Es como una red social que conecta conductores y pasajeros para compartir los gastos y la diversión
                    del viaje!
                    <br>
                    <br>
                    <a class="intro-message button"
                       type="submit" href="#map">
                        <span class="glyphicon glyphicon-search"></span>
                        Encuentra:
                    </a>
                    vehículos disponibles para alquilar en tu zona de la forma más rapida, barata y sencilla.                    <br>
                    <br>
                    <a class="button"
                       type="submit" href="#map">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Añade:
                    </a>
                    Diviertete ahorrando hasta un tercio del coste del trayecto por cada pasajero!
            </div>
        </div>
        <br>
        <br>
        <br>

        <!--Car Rental-->
        <div class="uqSlider_mobileItem">
            <div class="uqSlider_mobileItem_img uqSlider_imageWrapper">
                <img class="img-responsive img-center uqSlider_image" src="img/cochera.jpg" style="border-radius: 50%"></div>

            <div class="uqSlider_mobileItem_text">
                <h3 class="uqSlider_title">
                    <a class="color-ubeeqo uqSlider_titleLink" href="/list-trip" style="display: inline-flex">
                        Alquiler de Cocheras entre particulares
                        <img class="img-responsive" src="img/garage.png" width="64" height="64" alt="" >
                    </a>
                </h3>
                <hr>
                <p class="uqSlider_text">
                    Es como una red social que conecta conductores y pasajeros para compartir los gastos y la diversión
                    del viaje!
                    <br>
                    <br>
                    <a class="intro-message button"
                       type="submit" href="#map">
                        <span class="glyphicon glyphicon-search"></span>
                        Encuentra:
                    </a>
                    Rutas, viajes, escapadas de fin de semana, trayectos cortos... cerca tuyo!
                    <br>
                    <br>
                    <a class="button"
                       type="submit" href="#map">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Publica tu auto:
                    </a>Consigue ingresos mientras no lo usas
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</section>




<!--/**TODo*/-->

<!--&lt;!&ndash; Carpooling &ndash;&gt;-->
<!--<a name="carpool"></a>-->
<!--<div class="content-section-a">-->
    <!--<div class="container ">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-5 col-sm-6">-->
                <!--<hr class="section-heading-spacer">-->
                <!--<div class="clearfix"></div>-->
                <!--<img class="img-responsive" src="img/autoqe_rect.png" width="64" height="64" alt="" style="float: left">-->
                <!--<h2 class="section-heading">Carpooling: <br>Comparte tus trayectos</h2>-->
                <!--<p class="lead">-->
                    <!--Es como una red social que conecta conductores y pasajeros para compartir los gastos y la diversión-->
                    <!--del viaje!-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="#map">-->
                        <!--<img src="img/search.png" height="32" width="32"/>Encuentra:-->
                    <!--</a>-->
                    <!--Rutas, viajes, escapadas de fin de semana, trayectos cortos... cerca tuyo!-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="#map">-->
                        <!--<img src="img/add.png" height="32" width="32"/>Añade:-->
                    <!--</a>-->
                    <!--Diviertete ahorrando hasta un tercio del coste del trayecto por cada pasajero!-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="#map">-->
                        <!--<img src="img/leaf.png" height="32" width="32"/>Ciudad verde:-->
                    <!--</a>Por cada plaza de auto que compartes estás reduciendo las congestiones de <b>tráfico</b>,-->
                    <!--ayudando al <b>medio ambiente</b> y facilitando el <b>aparcamiento</b> de todos!-->
            <!--</div>-->
            <!--<div class="col-lg-5 col-lg-offset-2 col-sm-8">-->
                <!--<div class="space_sub"></div>-->
                <!--<img style="vertical-align: middle" class="img-responsive" src="img/happy_car.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; CarRenting &ndash;&gt;-->
<!--<a  name="carRent"></a>-->
<!--<div class="content-section-b">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-6 col-lg-offset-1 col-sm-push-6  col-sm-6">-->
                <!--<hr class="section-heading-spacer">-->
                <!--<div class="clearfix"></div>-->
                <!--<img class="img-responsive" src="img/car-key.png" width="64" height="64" alt="" style="float: left">-->
                <!--<h2 class="section-heading">Alquiler de auto entre particulares</h2>-->
                <!--<p class="lead">-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="#map">-->
                        <!--<img src="img/search.png" height="32" width="32"/>Encuentra:-->
                    <!--</a>-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="#map">-->
                        <!--<img src="img/add.png" height="32" width="32"/>Publica:-->
                    <!--</a> tu vehículo en alquiler, conseguirás ingresos mientras no lo usas.-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="#map">-->
                        <!--<img src="img/car-insurance.png" style="background: steelblue" height="32" width="32"/>Asegurado:-->
                    <!--</a> Toda la confianza de nuestra cobertura a todo riesgo y asistencia en carretera en todo el-->
                    <!--periodo-->
                    <!--del alquiler.-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-lg-5 col-sm-pull-6  col-sm-6">-->
                <!--<div class="space_sub"></div>-->
                <!--<img class="img-responsive img-rounded" src="img/part_car.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; CarFleet &ndash;&gt;-->
<!--<a name="rideshare"></a>-->
<!--<div class="content-section-a">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-5 col-sm-6">-->
                <!--<hr class="section-heading-spacer">-->
                <!--<div class="clearfix"></div>-->
                <!--<img class="img-responsive" src="img/electric-car.png" width="64" height="64" alt=""-->
                     <!--style="float: left">-->
                <!--<h2 class="section-heading">Próximamente alquila autos electricos cerca tuyo</h2>-->
                <!--<p class="lead">-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="map">-->
                        <!--<img src="img/piggy-bank.png" height="32" width="32"/>Paga solo cuando lo utilices-->
                    <!--</a>-->
                    <!--Mucho más barato que mantener tu propio vehículo.-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="map">-->
                        <!--<img src="img/leaf.png" height="32" width="32"/>Ayuda al medioambiente-->
                    <!--</a>-->
                    <!--Eres consciente de cuanto puedes ahorrar en combustible y peajes mientras reduces la huella digital?-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="map">-->
                        <!--<img src="img/compass.png" height="32" width="32"/>Alrededor tuyo-->
                    <!--</a>-->
                    <!--Muchos autos cerca de ti.-->

                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-lg-5 col-lg-offset-2 col-sm-6">-->
                <!--<div class="space_sub"></div>-->
                <!--<img class="img-responsive" src="img/electric1.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Park rental &ndash;&gt;-->
<!--<div class="content-section-b">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">-->
                <!--<hr class="section-heading-spacer">-->
                <!--<div class="clearfix"></div>-->
                <!--<img class="img-responsive" src="img/garage.png" width="64" height="64" alt="" style="float: left">-->
                <!--<h2 class="section-heading">Alquiler de Cocheras entre particulares</h2>-->
                <!--<p class="lead">-->
                    <!--Ya no tienes que estar dando vueltas por la ciudad buscando un lugar para estacionar.-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="map">-->
                        <!--<img src="img/estac_green.png" height="32" width="32"/>Parking público-->
                    <!--</a>-->
                    <!--Estado de los párkings en tiempo real en tu ciudad.-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="map">-->
                        <!--<img src="img/piggy-bank.png" height="32" width="32"/>Descuentos-->
                    <!--</a> Exclusivos de Autoqe al reservar tu plaza.-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<a class="intro-message list-inline intro-social-buttons to-hide btn btn-default btn-lg intro-message"-->
                       <!--type="submit" href="map">-->
                        <!--<img src="img/time.png" height="32" width="32"/>Por horas-->
                    <!--</a>-->
                    <!--Usalo justo el tiempo que lo necesitas, donde las necesitas.<br>-->

            <!--</div>-->
            <!--<div class="col-lg-5 col-sm-pull-6  col-sm-6">-->
                <!--&lt;!&ndash;<div class="space"></div>&ndash;&gt;-->
                <!--<img class="img-responsive" src="img/cochera.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->




