<!-- Team -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <img class="img-responsive" src="img/team.png" width="64" height="64" alt="" style="float: left">
            <h2 class="section-heading">Nuestro equipo<br>
                <a href="/pages/careers.ejs">¿Te unes?</a>
            </h2>
            <div class="col-lg-5 col-sm-6 text-center">
                <img class="img-responsive" src="img/gSierra.jpg" width="120" height="120" alt="Guillermo Sierra"
                     style="display:inline; border-radius: 50%;text-align: center">
                <h3 class="section-heading"><a href="https://www.guillesierra.com/">Guillermo Sierra Aiello</a></h3>
                <h4 class="section-heading">Founder, CTO and Sales Manager</h4>
                <p class="lead">
                    Founder of <a href="https://www.shotgot.com/">ShotGot</a>
                    <img height="32" width="32" src="img/shotgot_small.png">.
                    <br>Java Dev at <a href="http://www.amadeus.com/">Amadeus</a> Nice, France.
                    <br>Android Dev at <a href="http://www.amadeus.com/">SEAT</a> Barcelona, Spain.
                    <br>Telecommunications Engineer from <a href="http://www.upc.edu/?set_language=en">UPC</a>.
                </p>
            </div>
            <div class="col-lg-5 col-sm-6 text-center">
                <img class="img-responsive" src="img/Dano.jpg" width="120" height="120" alt="Dano Nuñez" style="display:inline;border-radius: 50%">

                <h3 class="section-heading">Danilo Nuñez Da Silveira</h3>
                <h4 class="section-heading">Product Manager</h4>
                <p class="lead">
                    Founder of <a href="http://worldboosting.com/">WorldBoosting</a>
                    <img height="32" width="32" src="img/worldboosting.png">
                    <br>Economics degree at UBA.</p>
            </div>
        </div>
    </div>
</div>