<meta charset="utf-8">
<link rel="shortcut icon" href="img/autoqe_txt_s.png">
<title>Autoqe, Auto al toque</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="description" content="Autoqe, Auto al toque">
<meta name="author" content="Guillermo Sierra">
<meta name="keywords" content="Economia,Colaborativa,Auto,Sierra,Aiello,Guillermo">
<meta name="google-site-verification" content="mfGtKqZmdZEh4Y5ZMAyYdiQrPs91QZMAk3gNLM66qPk" />

<!-- OpenGraph-->
<meta property="og:title" content="Autoqe, Auto al toque!">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.autoqe.com/img/autoqe_txt_s.png">
<meta property="og:image:secure_url" content="https://www.autoqe.com/img/autoqe_txt_s.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:description"
      content="Comparte trayectos. Alquila autos y cocheras de particulares. Economia colaborativa.">
<meta property="og:url" content="https://www.autoqe.com/">

<!-- Styles and CSS-->

<!-- Bootstrap Core CSS -->
<!--<link rel="stylesheet" href="/public/css/bootstrap.min.css.css" >-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/main.css" rel="stylesheet">
<link href="css/nav.css" rel="stylesheet">
<link href="css/content.css" rel="stylesheet">

<!--<link href="nav.css.css" rel="stylesheet">-->

<!-- Custom Fonts -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil"rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!--JS loads (Async and defer)-->

<!-- jQuery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<!-- Load utils (async) -->
<script type="text/javascript" src="js/util.js" async></script>
<script src="js/togglers.js" async></script>
