<head>
    <link href="css/nav.css" rel="stylesheet">
</head>

<!-- Navigation -->
<nav class="navbar navbar-fixed-top primary-nav" style=";font-family: 'Allerta Stencil'">
    <div class="container-fluid custom-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span style="background-color: #46b8da" class="icon-bar"></span>
                <span style="background-color: #2e6da4" class="icon-bar"></span>
                <span style="background-color: #122b40" class="icon-bar"></span>
            </button>
                <div class="site-header-logo">
                    <a class="navbar-brand site-header-logo" href="/" title="Autoqe">
                    </a>
                    <!--<a></a> &lt;!&ndash;<a href="/" title="Autoqe">Autoqe</a>&ndash;&gt;-->
                </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav navbar-right">
                <li class="active unhide-large">
                    <a href="/home" title="Inicio" >
                        <span class="glyphicon glyphicon-home"></span>
                        Inicio
                    </a>
                </li>
                <!--Encuentra-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/find" title="Encuentra">
                        <span class="glyphicon glyphicon-search"></span>
                        Encuentra
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" style="float: left">
                        <li><a href="/find#Trip">
                                <img src="img/carpool.png" height="28" width="28"/>
                                Trayecto</a>
                        </li>
                        <li><a href="/find#car">
                                <img src="img/car-key.png" height="28" width="28"/>
                                Auto</a>
                        </li>
                        <li><a href="/find#park">
                                <img src="img/garage.png" height="28" width="28"/>
                                Cochera</a>
                        </li>
                    </ul>
                </li>
                <!--Publica-->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/list-trip">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Publica
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/list-trip">
                                <img src="img/carpool.png" height="28" width="28"/>
                                Trayecto</a>
                        </li>
                        <li><a href="/list-car">
                                <img src="img/car-key.png" height="28" width="28"/>
                                Auto</a>
                        </li>
                        <li><a href="/list-park">
                                <img src="img/garage.png" height="28" width="28"/>
                                Cochera</a>
                        </li>
                    </ul>
                </li>
                <!--Registro-->
                <li>
                    <a href="#user" title="Panel de usuario" class="button">
                        <span class="glyphicon glyphicon-user"></span>
                        Registro
                    </a>
                </li>
                <!--Contacto-->
                <li class="unhide-large">
                    <a href="/contact" title="Contacto" >
                        <span class="glyphicon glyphicon-envelope"></span>
                        Contacto
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>