<!-- Find Content -->
<div class="HomeBlock-content" style="padding: 2vh;width: 100%;text-align: center">
    <!--<div class="container" style="">-->
        <div class="row">
            <h3 style="display: inline">
                <img src="img/carpool.png" height="32" width="32">
                Divertite viajando:
            </h3>
            &nbsp;
            <form id="search-form" action="/search" style="display: inline">
                <div style="display: inline">
                    <img src="img/destination.png" height="32" width="32">
                    <input type="text" id="search_from" name="fn" placeholder="Desde..." data-autocomplete="name"
                           autocomplete="off" data-js="form-input-from" data-fillr-id="130011"
                           data-fillr-agent-listening="">
                </div>
                &nbsp; &nbsp;
                <div style="display: inline">
                    <img src="img/location.png" height="32" width="32">
                    <input type="text" id="search_to" name="tn" placeholder="A..." data-autocomplete="name"
                           autocomplete="off" data-js="form-input-to" data-fillr-id="107755"
                           data-fillr-agent-listening="">
                    &nbsp; &nbsp;
                </div>
                <div style="display: inline; width: 40%">
                    <img src="img/calendar.png" height="32" width="32">
                    <input type="text" id="search_to_date" name="db" placeholder="Hoy"
                           class="c-input-field datepicker hasDatepicker" readonly="readonly">
                    &nbsp; &nbsp;
                </div>
                <button type="submit" id="find_trip" class="button">
                    Buscar
                </button>
            </form>
        </div>
    <!--</div>-->
</div>